.sidebar
  .container.sidebar-sticky
    .sidebar-about
      h1
        a(href='/')
          | #{site.title}
      p.lead
        | неофициальный сайт
    nav.sidebar-nav
      a.sidebar-nav-item.active(href='/') Главная
      a.sidebar-nav-item(href='/about/') О сайте
    p © 2016. All rights reserved.
